<h3>Welcome to Sinatra!</h3>
<% if authorised?%>
    <a href="/users">List</a>
    <a href="/auth/logout">Log out</a>
<% else %>
    <a href="/auth/sign_in">Sign in</a>
    <a href="/auth/sign_up">Sign up</a>
<% end %>
