%form.grid_4{action: '/auth/sign_in', method: 'POST'}
  %input{name: 'user[email]', placeholder: 'Enter e-mail'}
  %input{type: 'password', name: 'user[password]', placeholder: 'Enter password'}
  %input{type: 'submit', value: 'Submit'}

%a{href: '/auth/github'} Login with GitHub