<form class="grid_4" action="/auth/sign_in" method="POST">
  <input type="text" name="user[email]" placeholder="Enter E-mail" />
  <input type="password" name="user[password]" placeholder="Enter Password" />
  <input type="submit" value="Submit" />
</form>

<a href='http://localhost:9292/auth/github'>Login with GitHub</a>
